main {
  /* width: 100%;
  height: 100%; */
  /* background-color: black; */
  background: linear-gradient(0.25turn, #000000, 70%, #493358);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
}

main h1 {
  font-size: 6rem;
}

.clip {
  background: linear-gradient(0.25turn, #3f87a6, 60%, #b14df9);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  filter: brightness(1.5);
}

/* // <uniquifier>: Use a unique and descriptive class name */
/* // <weight>: Use a value from 100 to 900 */
.noto-sans-jp-font {
  font-family: 'Noto Sans JP', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.card {
  width: 450px;
  height: 400px;
  margin-top: 20px;
  background-color: linear-gradient(0.25turn, white, rgb(65, 65, 65));
  border-radius: 6px;
  opacity: 50%;
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-right-color: rgba(255, 255, 255, 0.2);
  border-bottom-color: rgba(255, 255, 255, 0.2);
}

description {
  width: 240px;
  font-size: xx-large;
}


.cardcontainer{
  position: relative;  
}
.cardtext{
  position: absolute;
  padding: 10px;
  top: 10px;
}

.container {
  text-align: center;
  margin-top: 10rem;
}
